@model projeto_automatizador_cv.Models.Curriculo

@{
    ViewData["Title"] = "Create";
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<body class="body-pages" style="background-color: #EDEDED">
<h1>Novo Currículo</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Candidato" class="control-label"></label>
                <input asp-for="Candidato" class="form-control" />
                <span asp-validation-for="Candidato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Posicao" class="control-label"></label>
                <input asp-for="Posicao" class="form-control" />
                <span asp-validation-for="Posicao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resumo" class="control-label"></label>
                    <textarea rows="5" asp-for="Resumo" class="form-control"></textarea>
                <span asp-validation-for="Resumo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competencias" class="control-label"></label>
                <input asp-for="Competencias" class="form-control" />
                <span asp-validation-for="Competencias" class="text-danger"></span>
            </div>

            <div class="experiencia" id="formContainer">
                <div class="form-group">
                    <label asp-for="Empresa" class="control-label"></label>
                    <input asp-for="Empresa" class="form-control" />
                    <span asp-validation-for="Empresa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cargo" class="control-label"></label>
                    <input asp-for="Cargo" class="form-control" />
                    <span asp-validation-for="Cargo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Inicio" class="control-label"></label>
                    <input asp-for="Inicio" class="form-control" />
                    <span asp-validation-for="Inicio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Termino" class="control-label"></label>
                    <input asp-for="Termino" class="form-control" />
                    <span asp-validation-for="Termino" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Atividades" class="control-label"></label>
                    <textarea asp-for="Atividades" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Atividades" class="text-danger"></span>
                </div>
            </div>
            <br />
                <button type="button" style="background-color: #D39CC6; border-radius: 5px; border: 1px solid #D39CC6" onclick="duplicarExperiencia()">Acrescentar Experiência</button>
                <br /><br />
            <div class="form-group">
                <label asp-for="Formacao" class="control-label"></label>
                    <textarea id="descricao" name="descricao" style="white-space: pre-wrap;" asp-for="Formacao" class="form-control" rows=""></textarea>
                <span asp-validation-for="Formacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Certificacoes" class="control-label"></label>
                <textarea asp-for="Certificacoes" class="form-control" rows=""></textarea>
                <span asp-validation-for="Certificacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cursos" class="control-label"></label>
                <textarea asp-for="Cursos" class="form-control" rows=""></textarea>
                <span asp-validation-for="Cursos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idiomas" class="control-label"></label>
                <input asp-for="Idiomas" class="form-control" />
                <span asp-validation-for="Idiomas" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                    <a asp-action="Index" class="btn" style="width:30%;color: #ffffff;background-color: #B02a87; border-radius: 5px; border: 1px solid #B02a87;">
                     Voltar
                </a>
                    <input type="submit" value="Salvar" class="btn btn-primary" style="width:30%;color: #ffffff;background-color: #B02a87; border-radius: 5px; border: 1px solid #B02a87;" />
            </div>
        </form>
    </div>
</div>
</body>

<script>
        var contadorExperiencias = 1;

        function duplicarExperiencia() {
            var formContainer = document.getElementById('formContainer');
            var ultimaExperiencia = formContainer.lastElementChild;

            var novaExperiencia = document.createElement('div');
            novaExperiencia.className = 'experiencia';

            contadorExperiencias++;

            novaExperiencia.innerHTML = `
                        <div class="form-group">
                            <label for="Empresa_${contadorExperiencias}" class="control-label">Empresa</label>
                            <input type="text" id="Empresa_${contadorExperiencias}" name="Empresa_${contadorExperiencias}" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="Cargo_${contadorExperiencias}" class="control-label">Cargo</label>
                            <input type="text" id="Cargo_${contadorExperiencias}" name="Cargo_${contadorExperiencias}" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="Inicio_${contadorExperiencias}" class="control-label">Início</label>
                            <input type="text" id="Inicio_${contadorExperiencias}" name="Inicio_${contadorExperiencias}" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="Termino_${contadorExperiencias}" class="control-label">Término</label>
                            <input type="text" id="Termino_${contadorExperiencias}" name="Termino_${contadorExperiencias}" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="Atividades_${contadorExperiencias}" class="control-label">Atividades</label>
                            <textarea rows="5" id="Atividades_${contadorExperiencias}" name="Atividades_${contadorExperiencias}" class="form-control"></textarea>
                        </div>
                    `;

            formContainer.appendChild(novaExperiencia);
        }
</script>
