@model projeto_automatizador_cv.Models.Usuario

@{
    ViewData["Title"] = "Details";
}
<main class="main-details" style="background-color: #ffffff">
<h1>Detalhes do usuário</h1>
<hr />
<div> 
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
       <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Perfil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Perfil)
        </dd>
    </dl>
</div>
<br />
    <div class="form-group">
        <a asp-action="Index" class="btn" style="width:10%;color: #ffffff;background-color: #B02a87; border-radius: 5px; border: 1px solid #B02a87;">
            Voltar
        </a>
        <a asp-action="Edit" class="btn" style="width:10%;color: #ffffff;background-color: #B02a87; border-radius: 5px; border: 1px solid #B02a87;" asp-route-id="@Model?.Id">Editar</a>
</div>
</main>
